
<h1 mat-dialog-title *ngIf="this.data.button !== 'Add Product'">
  Update Product
</h1>
<div mat-dialog-content>
  <form
    class="example-form"
    [formGroup]="
      this.data.button === 'Add Product' ? addProduct : updateProduct
    "
  >
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Name</mat-label>
        <input
          id="name"
          matInput
          placeholder="Placeholder"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Placeholder"
          formControlName="price"
        />
      </mat-form-field>
    </div>
    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          placeholder="Placeholder"
          formControlName="description"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Select the Category</mat-label>
        <mat-select formControlName="category">
          <mat-option>None</mat-option>
          <mat-option value="electronics">Electronics</mat-option>
          <mat-option value="decor">Fashion</mat-option>
          <mat-option value="grocery">Grocery</mat-option>
          <mat-option value="clothing">Clothing</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="display-flex">
      <mat-form-field appearance="outline" class="flex1 m-1">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          placeholder="Placeholder"
          formControlName="img"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick(false)" mat-raised-button>
    Cancel
  </button>
  <button
    *ngIf="this.data.button === 'update'"
    mat-raised-button
    (click)="update()"
    cdkFocusInitial>
    {{ this.data.button }}
  </button>
</div>
