<c-carousel  [interval]="4000" transition="slide">
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides">
      <img
        [src]="slide.src"
        alt="{{slide.title}}"
        class="d-block w-100 p-4"
        loading="lazy"
        width="100px"
        height="400px"
      />
    </c-carousel-item>
  </c-carousel-inner>
</c-carousel>
  <div class="container">
    <div class="row" >
      <div class="col-md-3" *ngFor="let card of cards">
      <mat-card class="example-card" >
        <mat-card-title class="heading">{{card.heading}}</mat-card-title>
          <img mat-card-image class="center" [src]="card.src" width="186" height="116" alt="fashion">
    </mat-card>
      </div>
    </div>
  </div>
<app-product-list></app-product-list>
